:root {
    --primary-color: #3428ff;
    --secondary-color: #ff7a42;
    --background-color: #eae8d7;
    --secondary-background-color: #d7d0ac;
    --white: #fff;
    --black: #000;
}

body, html {
    background-color: var(--background-color);
    color: #3428ff;
    font-family: 'Helvetica', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.35;
    text-align: center;
}

body {
    margin: 5px;
    /* background-blend-mode: darken; */
}

p {
    font: 16px;
    text-align: flex-start;
}

.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
.sidebar {
    grid-column: 1 / 2; /* Sidebar takes the first column */
    font-size: medium;
}

.container {
    display: grid;
    grid-template-areas: 
    "hd hd hd hd" 
    "sd main main main"
    "sd main main main"
    "ft ft ft ft"; /* row start/ column start/ row end/ column end */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, 1fr); 
    grid-gap: 5px; 
    min-height: 100vh;
    padding: 1em;
    overflow: hidden;
}


.header, .sidebar, .content, .gallery, .gallery-container, .footer {
    background-color: var(--secondary-background-color);
    padding: 0.5em;
    border-radius: 10px;
}

.navbar, .sidebar, .gallery-container, .footer {
    background-image: url('../Assets/abstract_map_background_with_topography_design_1105.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
}

.header {
    max-height: fit-content;
}

.content {
    grid-column: 2 / 4; /* Content spans the remaining two columns */
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(autofill, minmax(350px, 1fr));
    grid-gap: 10px;  
    color: #000;
    background-color: none;
    max-width: 500px;
    /* box-shadow: 0 8px 6px -6px #000; */
}

.blog-post-card {
    border: 3px solid #3428ff;
    box-shadow: 0 8px 6px -6px #000;
    border-radius: 10px;
    padding: 0.5em;
    align-items: flex;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

/* Center align images of header and content */

.post-content, .post2-content, .post3-content {
    border: 3px #3428ff solid;
    border-radius: 15px;
    padding: 0.5em;
    margin: 0.5em;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 8px 6px -6px #000;
}

.post-title, .post2-title, .post3-title {
    text-align: center;
    text-decoration: underline;
    font-family: 'Helvetica Black Oblique';
}

.card2-image, .card3-image {
    height: auto;
    object-fit: contain;
    max-width: 100%;
    border-radius: 10px;
}

.card1-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
