:root {
    --primary-color: #00449C; /* Cobalt Blue */ /* Alt #3428ff Azul */
    --secondary-color: #F55F14; /* Orange Pantone */ /* Alt #ff540A Aero Orange */
    --background-color: #C4BCA9; /* Dune Tan */
    --secondary-background-color: #C4B192; /* Khaki */
    --white: #fff;
    --black: #343332;
}

body, html {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.35;
    text-align: center;
}

body {
    margin: 5px;
    padding: 0.5em;
    border-radius: 10px;
}

p {
    font: 16px;
    text-align: flex-start;
}

.content {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.sidebar {
    grid-column: 1 / 2; /* Sidebar takes the first column */
    font-size: medium;
    box-shadow: inset 0 8px 6px -6px #000;
}

.container {
    display: grid;
    grid-template-areas: 
    "hd hd hd hd" 
    "sd main main main"
    "sd main main main"
    "ft ft ft ft"; /* row start/ column start/ row end/ column end */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, 1fr); 
    grid-gap: 5px; 
    min-height: 100vh;
    padding: 1em;
    overflow: hidden;
}


.sidebar, .content, .gallery, .gallery-container, .footer {
    background-color: var(--secondary-background-color);
    padding: 0.5em;
    border-radius: 10px;
}

.navbar, .sidebar, .gallery-container, .footer {
    background-image: url('/Assets/dunetopography.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center;
    background-repeat: no-repeat;
}


.h1, .h3, .h4, .h5 {
    font-family: 'Monsterrat Bold', sans-serif;
    font-weight: 800;
    /* font-style: italic; */
}

.blog-post h1 {
    font-family: 'Monsterrat Bold', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.content {
    grid-column: 2 / 4; /* Content spans the remaining two columns */
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(autofill, minmax(350px, 1fr));
    grid-gap: 10px;  
    color: var(--black);
    background-color: var(--background-color);
    max-width: 500px;
}

.blog-post-card {
    border: 3px solid var(--primary-color);
    box-shadow: 0 8px 6px -6px #000;
    border-radius: 10px;
    padding: 1em;
    align-items: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-cta {
    background-image: linear-gradient(to bottom, var(--primary-color)) 40%, var(--secondary-color) 60%;
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease-in-out; /* ease-in-out for smooth animation */
    color: var(--white);
    padding: 0.725em;
    align-items: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-cta, .card-cta:hover {
    box-shadow: 0 8px 6px -6px #000;
    border-radius: 10px;
    padding: 0.5em;
    align-items: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.card-cta:hover {
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}

/* Center align images of header and content */

.post-content, .post2-content, .post3-content {
    border: 3px var(--primary-color) solid;
    border-radius: 15px;
    padding: 0.5em;
    margin: 0.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 8px 6px -6px #000;
}

.post-title, .post2-title, .post3-title {
    text-align: center;
    text-decoration: underline;
    font-family: 'Monsterrat Bold', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.card2-image, .card3-image {
    height: auto;
    object-fit: contain;
    max-width: 100%;
    border-radius: 10px;
}

.card1-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
