:has(.gallery-page) .gallery-container {
  grid-column: 1 / -1; /* Take up full width on gallery.html */
  grid-area: 1 / 2 / 1 / 4; /* start at row 1, column 2, end at row 1, column 4 */
  justify-self: center; /* Center horizontally on gallery.html */
  padding: 0.5em;
}

:has(.gallery-page) .gallery-item {
  display: inline-block;
  width: calc(100% / 2 - 20px); /* Adjusted for half of the container width subtracted margin of 20px */
  height: 100%;
  margin: 10px;
  border: 1px solid var(--secondary-background-color);
  border-radius: 10px;
  overflow: hidden;
}

.gallery-container {
  height: auto;
  grid-area: 1 / 4 / 1 / 4; /* start at row 1, column 4, end at row 1, column 4 */
  max-width: auto;
  margin: 0 auto;
  padding: 0.5em;
  background-color: none;
  border-radius: 10px;
  box-shadow: inset 0 8px 6px -6px #000;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1); /* White background with 90% opacity */
}

.gallery-item {
  height: 100%;
  margin: 10px;
  border: 1px solid var(--secondary-background-color);
  border-radius: 10px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* Maintain aspect ratio */
  transition: transform 0.2s ease-in-out; /* Slight zoom transition effect */
}

.gallery-item img:hover {
  transform: scale(1.1); /* Zoom in on hover transition effect */
}

figcaption {
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  text-align: end;
}

/* Responsive styles */
@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px); /* Adjusted width for smaller screens */
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: 100%; /* Full width for very small screens */
  }
}