/* Media queries and breakpoints for responsive design */

/* Media queries for .logo1 and .logo2 */
@media (max-width: 768px) {
    .logo1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .logo1 {
        font-size: 2rem;
    }
}

@media (min-width: 1025px) {
    .logo1 {
        font-size: 3.5rem;
    }
}

/* Media queries for .navbar and .navbar-links */
@media screen and (min-width: 301px) and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      right: -250px;
      width: 250px;
      background-color: var(--secondary-background-color);
      padding: 1em;
      transition: right 0.3s ease-in-out;
    }
  
    .navbar-links.active {
      right: 0; 
    }
  
    .menu-icon {
      display: block;
    }
  
    .menu-toggle:checked + .menu-icon + .navbar-links {
      right: 0;
    }  
    
    .navbar-links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links li {
        margin-bottom: 0.5em;
    }

    /* Media queries for .header-image */
    
    .hero {
        width: 100%;
        min-height: 200px; /* Min height for smaller screens */
        padding: auto;
        margin: auto;
    }

    .hero-text {
        color: var(--white);
        font-size: 0.69rem;
        font-family: 'Montserrat Bold', sans-serif;
        position: absolute; /* Centered text overlay */
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        grid-template-columns: 1fr; /* Single column grid for smaller screens */
    }

    .content {
        grid-template-columns: 1fr; /* Stack blog post cards vertically */
    }
  }


@media screen and (min-width: 768px) and (max-width: 1880px){

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 auto;
        margin: 0;
        cursor: grab;
    }

    .menu-toggle:checked + .menu-icon + .navbar-links {
        display: flex;
        flex-direction: column;
    }

    .hero {
        width: 100%;
        min-height: 350px; /* Min height for smaller screens */
        max-height: inherit;
        padding: auto;
        object-fit: cover;
        background-repeat: no-repeat;
    }
    
    .header {
        grid-area: hd;
        position: relative;
        background-color: var(--background-color);
    }
    
    .hero-text {
        color: var(--white);
        font-size: 1rem;
        font-family: 'Montserrat Bold', sans-serif;
        position: absolute; /* Centered text overlay */
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        grid-template-columns: repeat(4, minmax(0, 1fr)); /* four column grid for larger screens */
    }
}