@media screen and (min-width: 310px) and (max-width: 768px) {
    .header-image {
        width: 100%;
        min-height: 200px; /* Adjust height for smaller screens */
        padding: 0.125em;
        margin: 0.25em;
    }

    .header-text {
        color: #D7D7D5;
        font-size: 0.8rem;
        font-family: 'Helvetica Black Oblique', sans-serif;
        position: absolute; /* Centered text overlay */
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        grid-template-columns: 1fr; /* Single column grid for smaller screens */
    }

    .content {
        grid-template-columns: 1fr; /* Stack blog post cards vertically */
    }

    .menu-icon {
        display: block; /* Show hamburger menu icon on smaller screens */
    }

    .navbar-links {
        display: none; /* Hide navbar links initially on smaller screens */
    }

    .menu-toggle:checked + .menu-icon + .navbar-links {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1880px){
    .header-image {
        width: 100%;
        min-height: 200px; /* Min height for smaller screens */
        max-height: inherit;
        padding: 1em;
    }
    
    .header-image img {
        width: 100%;
        min-height: 320px;
        object-fit: cover;
        background-repeat: no-repeat;
        border-radius: 10px 45px 25px;
    }
    
    .header {
        grid-area: hd;
        position: relative;
        background-color: #f4f3ea;
    }
    
    .header-text {
        color: #D7D7D5;
        font-size: 1rem;
        font-family: 'Helvetica Black Oblique', sans-serif;
        position: absolute; /* Centered text overlay */
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        grid-template-columns: repeat(3, 1fr); /* three column grid for larger screens */
    }

    .menu-toggle:checked + .menu-icon + .navbar-links {
        display: flex;
        flex-direction: column;
    }

    .footer {
        grid-column: span 3; /* Footer spans all three columns */
        grid-area: ft;
        text-align: center;
        margin-top: 15px;
        padding: 10px;
        font-size: 12px;
        line-height: 21.6px;
        letter-spacing: 0.3px;
        text-align: center;
        justify-content: center;
        position: relative;
        color: #3428ff;
        background-color: #D7D7D5;
    }
}