@import url("header.css");
@import url("core.css");
@import url("footer.css");
@import url("responsive.css");
@import url("gallery.css");

* {
    scroll-behavior: smooth;
    cursor: pointer;
  }

@font-face {
  font-family: 'Monserrat Bold';
  src: url('../Assets/Helvetica\ Black\ Oblique.otf') format('opentype');
  font-weight: 700;
  font-style: bold italic;
}

.montserrat-bold700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold italic;
}

.inter-700 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* styles.css */
:root {
  --primary-color: #3428ff;
  --secondary-color: #ff7a42;
  --background-color: #eae8d7;
  --secondary-background-color: #d7d0ac;
  --white: #fff;
  --black: #000;
}
