@import url("header.css");
@import url("core.css");
@import url("footer.css");
@import url("responsive.css");
@import url("gallery.css");

* {
    scroll-behavior: smooth;
    cursor: pointer;
  }

/* styles.css */
:root {
  --primary-color: #3428ff;
  --secondary-color: #ff7a42;
  --background-color: #eae8d7;
  --secondary-background-color: #d7d0ac;
  --white: #fff;
  --black: #000;
}

:has(.gallery-page) .gallery-container {
  grid-column: 1 / -1; /* Take up full width on gallery.html */
  justify-self: center; /* Center horizontally on gallery.html */
}