.container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gallery-container {
  grid-column: 2 / 4; /* Gallery takes the second and third columns */
  height: 100%;
  grid-area: 2 / 2 / 3 / 4; /* start at row 2, column 2, end at row 3, column 4 */
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f4f3ea;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: 100%;
  }
}