@media (max-width: 768px) {
    .header-image {
        min-height: 200px; /* Adjust height for smaller screens */
    }

    .header-text {
        height: auto;
    }

    .container {
        grid-template-columns: 1fr; /* Single column grid for smaller screens */
    }

    .content {
        grid-template-columns: 1fr; /* Stack blog post cards vertically */
    }

    .menu-icon {
        display: block; /* Show hamburger menu icon on smaller screens */
    }

    .navbar-links {
        display: none; /* Hide navbar links initially on smaller screens */
    }

    .menu-toggle:checked + .menu-icon + .navbar-links {
        display: flex;
        flex-direction: column;
    }
}