@import url(header.css);
@import url(core.css);
@import url(footer.css);

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), local('HelveticaNeue-CondensedBlack'),
    url('/System/Library/Fonts/HelveticaNeue.ttc') format("truetype");
    font-weight: 400;
    /* Correct font-weight of logo to helvetica neue condensed black */
}
